body {
    background-color: #f7f4f7;
    font-family: "Source Sans 3";
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: "Ballet";
  }
  
  p {
    font-size: 20px;
    color: black;
    text-align: center;
  }

  /* nav bar */
  nav ul {
    background-color: #c0b4c5;
    list-style: none;
    margin: 0;
    display: flex;
    padding: 1em;
    position: sticky;
    justify-content: flex-end;
    border-radius: 5px 5px 5px 5px;
  }
  
  /* nav items */
  nav li {
    margin-right: 1em;
  }

  nav li:last-child {
    margin-right: 0.2em; /* hug right */
  }
  
  /* nav links */
  nav a {
    text-decoration: none;
    color: black;

    font-size: 17px;
    transition: color 0.4s ease;
  }
  
  /* nav hover */
  nav a:hover {
    color: white;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    padding: 2em;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #c0b4c5;
  }