body {
    background-color: #f7f4f7;
    font-family: "Source Sans 3";
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: "Ballet";
    font-size: 2.3em;
  }

  h2 {
    color: black;
    text-align: center;
    font-family: "Ballet";
    font-size: 1.5em;
  }
  
  p {
    font-size: 20px;
    color: black;
  }

  /* nav bar */
  nav ul {
    background-color: #c0b4c5;
    list-style: none;
    margin: 0;
    display: flex;
    padding: 1em;
    position: sticky;
    justify-content: flex-end;
    border-radius: 5px 5px 5px 5px;
  }
  
  /* nav items */
  nav li {
    margin-right: 1em;
  }

  nav li:last-child {
    margin-right: 0.2em; /* hug right */
  }
  
  /* nav links */
  nav a {
    text-decoration: none;
    color: black;

    font-size: 17px;
    transition: color 0.4s ease;
  }
  
  /* nav hover */
  nav a:hover {
    color: white;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7em;
    padding: 2em;
    gap: 2em;
  }
  
  .profile-pic {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #c0b4c5;
  }

  .connect-links {
    text-align: center;
    font-size: 1.1em;
  }
  
  .connect-links a {
    background-color: #c0b4c5;
    padding: 0.4em;
    margin: 0 0.5em;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
    transition: color 0.4s ease;
  }
  
  .connect-links a:hover {
    color: white;
  }

  .name-and-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bio {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
    padding: 12em 2em;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .bio-pic {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #c0b4c5;
  }
  
  .bio-text {
    max-width: 800px;
    font-size: 1em;
    line-height: 1.2;
    color: black;
    text-align: left
  }

  .connect-links i {
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 1.1em;
    vertical-align: middle;
  }

  .experience-card {
  width: 90%;
  max-width: 800px;
  margin: 2em auto;
  margin-bottom: 3em;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}

.experience-header {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 1em;
}

.company-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 1em;
  border-radius: 10px;
}

.header-text h2 {
  margin: 0;
  font-weight: normal;
  text-align: left;
  font-size: 1.2em;
  font-family: "Source Sans 3";
}

.header-text h3 {
  margin: 0.2em 0 0 0;
  font-weight: normal;
  font-size: 1.1em;
  color: #4a4a4a;
}

.experience-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  padding-top: 0em;
  background-color: #ffffff;
}

.company-description {
  font-size: 1em;
  color: #4a4a4a;
  margin-top: 1.2em;
  margin-bottom: 0em;
}

.experience-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-style: italic;
  font-size: 1.1em;
  color: #666;
  margin-top: 0.8em;
  margin-bottom: 0em;
}

.experience-bullets {
  padding-left: 1.2em;
  list-style-type: disc;
  color: #333;
  line-height: 1.5em;
  font-size: 1em;
}

.skills {
  color: #333;
  line-height: 1.5em;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}